#highstockGraph {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
}

.highcharts-background {
    border-style: solid;
    border-color: #d1e0ee;
}

.centerChildren {
    display: flex;
    align-items: center;
}

.chartTableMarker button {
    margin-right: 5px;
}

.configPanelMargin {
    margin: 1% 0 1% 0;
}

.addChartBtnSpacing {
    margin-bottom: 0.25rem;
}

.removeBtnBorderRadiusRight span.sapMBtnInner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.removeBtnBorderRadiusLeft span.sapMBtnInner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#VertLayout div.sapUiVltCell:first-child > div {
    margin-bottom: 0;
}

#RemoveChart {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#ChartManagerTable button {
    height: 2rem;
}

#ChartManagerTable button > span {
    font-size: 0.7rem;
    height: 1.67rem;
    min-width: 1.67rem;
    display: inline-flex;
    align-items: center;
}

#ChartManagerTable {
    margin: 0 auto;
}

#ChartManagerTable table {
    border: 1px solid #d1e0ee;
}

#ChartManagerTable label {
    color: #346187;
}

#ChartManagerTable th {
    background-color: #eff4f9;
    border-bottom: 1px solid #d1e0ee;
}

#ChartManagerTable td {
    border-bottom: 0;
    vertical-align: middle;
}

#ChartManagerTable td > label {
    padding-top: 5%; 
}

#ChartManagerTable tr:first-child td {
    border-top: 0;
}