/*
GENERAL STYLINGS
*/

.sapMBtnBase > span, .sapMComboBoxTextField.sapMComboBoxBase, #RemoveCoin, #RemoveChart {
    outline: none;
    border-color: #94a9bd;
}

.noDisplay.sapMTitle.noContentTitle { /* Toggleable class to hide noContent text */
    display: none;
}


/* Removes dotted outline for focus / active on buttons  */
html.sap-desktop body.sapUiBody .sapMBtn:focus > .sapMFocusable,
html.sap-desktop body.sapUiBody .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):focus,
html.sap-desktop body.sapUiBody .sapMBtn:focus > .sapMBtnActive.sapMFocusable {
    outline-offset: 0px;
    outline: none;
}

header.sapMTB.sapMPageHeader {
    border-color: #d1e0ee;
}

#ChartManagerTable label.boldDefaultChart {
    font-weight: bold;
}

/*
HEADER STYLINGS
*/

.header-button {
    position: relative;
    height: 3rem;
    margin: 0;
    padding: 0.250rem .75rem;
    vertical-align: top;
    border: none;
    background-color: transparent;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    cursor: pointer;
}

.active-header-tab {
    border-bottom: 2px solid #0a5899;
}

.header-button > span.active-header-text {
    color: #0a5899;
}

.header-button:focus  {
    outline: none;
}

.header-button > span {
    overflow: hidden;
    vertical-align: top;
    line-height: 2.375rem;
    display: block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    height: 2.500rem;
    min-width: 2.500rem;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
    text-align: center;
    position: relative;
    font-weight: normal;
    color: #799ebe;
    transition: color .4s ease;
}

.header-button > span:hover {
    color: #0a5899;
}

/*
NO DATA STYLING
*/

.noContentTitle.sapMTitle {
    display: flex;
    width: 100%;
    padding-top: 17%;
}

.noContentTitle.sapMTitle > span {
    margin: 0 auto;
    color: #d1d1d1;
    font-size: 1.5rem;
    font-size: 2.5vw;
}

@media screen and (max-width: 770px) and (min-width: 720px) {
    .configBtnMedia > span > span {
        font-size: .7rem;
    }

    #RemoveChart-img, #RemoveCoin-img  {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 629px) and (min-width: 0px) {
    .configBtnMedia > span > span {
        font-size: .5rem;
    }

    #RemoveChart-img, #RemoveCoin-img {
        font-size: .83rem;
    }
}


/*
SIDE BAR STYLING
*/

#app-Master { /* Sets defined width for coin list sidebar */
    width: 220px;
}

#CoinList-listUl li { /* Styles each list element (but not labels) in the coin list */
    background-color: #eff4f9;
    border-bottom: 1px solid #ffffff;
}

#CoinList-listUl div.sapMSLITitleOnly { /* Styles labels in coin list */
    transition: color .4s ease;
    color: #799ebe; !important
}

#CoinList-listUl > li:hover div.sapMSLITitleOnly { /* Hover style for coin list labels */
    color: #0a5899; !important
}

.sapMCbBg.sapMCbMark {
    border-color: #c0d5e9;
}

/*
CONFIG PANEL FORMATTING
*/

#__page0-intHeader { /* Colors config page header */
    background-color: #eff4f9;
}

.centerChildren { /* Keeps buttons inline with combo boxes in config settings */
    display: flex;
    align-items: center;
}

.chartTableMarker button { /* Provides spacing between each button element added to chart config table */
    margin-right: 5px;
}

:not(.sapMBtnDisabled)>.sapMBtnDefault.sapMBtnInner.sapMBtnActive { /* overrides active state for config buttons during dragging */
    background-image: none;
    background-color: #f7f7f7;
    border-color: #ababab;
    color: #346187;
    text-shadow: none;
}

.configPanelMargin { /* spacing within div for config panel */
    margin: 1% 0 1% 0;
}

.removeBtnBorderRadiusRight span.sapMBtnInner { /* rounds the right side borders of an element */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.removeBtnBorderRadiusLeft span.sapMBtnInner { /* rounds the left side borders of an element */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sapMComboBoxBase { /* Border radius for 3 selector containers on CoinDetail page */
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}

#RemoveChart { /* Directly applied border rounding style since icon buttons have different html structure */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#ChartManagerTable button { /* Changes spacing when there are multiple rows of buttons in one td of config table */
    height: 2rem;
}

#ChartManagerTable button > span { /* Changes size of all buttons added to config table */
    font-size: 0.7rem;
    height: 1.67rem;
    min-width: 1.67rem;
    display: inline-flex;
    align-items: center;
}

#ChartManagerTable { /* Margins for config table */
    margin: 0 auto;
}

#ChartManagerTable table { /* Border for config table */
    border: 1px solid #d1e0ee;
}

#ChartManagerTable label { /* Text coloring for config table */
    color: #346187;
}

#ChartManagerTable th { /* Styling for header row of config table */
    background-color: #eff4f9;
    border-bottom: 1px solid #d1e0ee;
}

#ChartManagerTable td { /* Styling and formatting for each of the table entries */
    border-bottom: 0;
    vertical-align: middle;
}

#ChartManagerTable td > label { /* Spacing to compensate for sap styling. Allows chart label to be vertically centered in table */
    padding-top: 5%;
}

#ChartManagerTable td:first-child { /* Colors text for "No Data" when there are no chart entries */
    color: #346187;
}

#ChartManagerTable tr:first-child td { /* Removes default sap border styling from first table element */
    border-top: 0;
}

/* media queries for config page */

@media screen and (max-width: 770px) and (min-width: 720px) {
    .configBtnMedia > span > span {
        font-size: .7rem;
    }

    #RemoveChart-img, #RemoveCoin-img  {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 719px) and (min-width: 630px) {
    .configBtnMedia > span > span {
        font-size: .6rem;
    }

    #RemoveChart-img, #RemoveCoin-img {
        font-size: 1rem;
    }
}

@media screen and (max-width: 629px) and (min-width: 0px) {
    .configBtnMedia > span > span {
        font-size: .5rem;
    }

    #RemoveChart-img, #RemoveCoin-img {
        font-size: .83rem;
    }
}

/*
Highstock Graph Formatting
*/

.CHARTDIV {
    width: 86%;
    margin: 3% auto 3% auto;
    border: 3px solid #dddddd;
}

#CoinDetailPage div.CHARTDIV:not(.hideChart):first-of-type {
    margin-top: 1.5%;
}

.hideChart {
    display: none;
}